* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



html {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    border: 1vh solid black;
    background-color: black;
    border-radius: 1vh;
    height: 88vh;
    width: 88vw;

    display: flex;
    flex-direction: column;
}

.display {
    border: 2vh solid rebeccapurple;
    border-radius: 1vh;
    flex: 1;
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 4.8vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.body {
    flex: 5;

    flex-direction: column;
    display: flex;
}

.body>div {
    flex: 1;
    display: flex;
}

div>button {
    flex: 1;
}

.zero {
    flex: 2;
}

button {
    border-radius: 1vh;
    font-size: 6.6vh;
}